.about-container {
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 600px;
}

.about-container::after {
    content: ' ';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    opacity: 0.6;
    background-image: url("../images/about_me.jpg");
    background-repeat: no-repeat;
    -ms-background-size: cover;
    background-size: cover;
}