.contact-container {
    background-color: #f2f2f2;
    padding: 3em 3em 7em 3em;
    border-top: 1px solid #e6e6e6;
    

}

.contact-title {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: 5em;
}


.contact-title h2 {
    text-align: end;
    color: #4d4d4d;
    font-size: 25px
}

.contact-contact-details p{
    margin-top: 0.5em;
}

.contact-title p {
    font-size: 13px;
    font-weight: 400;
    color: #666666;

}

.contact-details {
    margin-top: 1em;
}

.contact-details i {
    color: #4d4d4d;
    background-color: #f2f2f2;
    font-size: 35px;
}
/* .contact-tag-email-media {
    display: flex;
    justify-content: space-around;
} */

/* .contatct-container p {
    width: 33%;
} */