.intro-container {
    font-size: 15px;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #f2f2f2;
    
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
    transition: 2s;
}


.intro-title {
    margin-right: 100px;
    margin-top: 50px;
    color: #4d4d4d;
    width: 30%;
    font-size: 35px;
}
.intro {
    margin-top: 50px;
    margin-bottom: 3em;
    color: #666666;
}
.intro p {
    margin-top: 0.5em;
    width: 100%;
}

.coding-container {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    font-size: 15px;
}

.coding-container h1 {
    margin-right: 100px;
    width: 24.5%;
    color: #4d4d4d;
    font-size: 35px;
}

.coding-container p {
    color: #666666;
    width: 100%;

}

.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 7em 0 7em 0;
    padding: 5em 0 5em 0;
    height: 100%;
    background-color: #f2f2f2;
    border-bottom: solid 1px #e6e6e6;
    border-top: solid 1px #e6e6e6;
}

.skills-title h1 {
    color: #4d4d4d;
    padding-left: 150px;
    padding-top: 50px;
    font-size: 35px;
}

.skills-title p {
    color: #999999;
    /* width: 50%; */
    margin: 1em auto;
    padding-left: 150px;
    font-size: 15px;
    margin-bottom: 3em;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
    width: 50%;
    margin: 0 auto;
}

.front-end:hover {
    padding-top: 3em;
}

.back-end:hover {
    padding-top: 3em;
}

.front-end {
    background-color: #17bed2;
    color: #fff;
    padding: 5em;
    width: 40%;
    font-size: 13px;
    transition: 0.2s;
}

.back-end {
    background-color: #fff;
    color: #666666;
    padding: 5em;
    width: 40%;
    font-size: 13px;
    transition: 0.2s;
}

.back-end h1 {
    color: #4d4d4d;
}

.lists-of-skills {
    width: 100%;
    font-size: 14px;
}


.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    background-color: #fff;
    margin-bottom: 7em;
}

.projects-title h1 {
    color: #4d4d4d;
    display: flex;
    justify-content: flex-start;
    margin-left: 150px;
    margin-bottom: 1em;
    font-size: 35px;
}

.projects-title p {
    color: #999999;
    /* width: 50%; */
    /* margin: 1em auto; */
    font-size: 15px;
    margin-bottom: 3em;
    margin-left: 150px;
}

.projects-jungle-chatty {
    font-size: 20px;
    justify-content: center;
    height: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-top: 50px;
    
}

img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-filter: brightness(100%);
    transition: 0.3s;
    cursor: pointer;
}

img:hover {
    -webkit-filter: brightness(60%);
}

.projects-container span {
    padding: 1em 3em;
}

.jungleapp {
    color: #fff;
    background-color: #17bed2;
    transition: 0.3s;
    text-align: center;
    width: 100%;
    cursor: pointer;
    -webkit-filter: brightness(100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jungleapp:hover {
    -webkit-filter: brightness(60%);
    
}

.chattyapp {
    color: #fff;
    background-color: #4d4d4d;
    transition: 0.3s;
    -webkit-filter: brightness(100%);
    text-align: center;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.chattyapp:hover {
    -webkit-filter: brightness(60%);
    
}


.chattyapp a {
    text-decoration: none;
    color: #fff;
}

.jungleapp a {
    text-decoration: none;
    color: #4d4d4d;
}

/* image size */

.on-time {
    margin-right: 1em;
    width: 500px;
    height: 300px;
    margin-bottom: 50px;
}

.on-time-second {
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
}

.bjuk {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    display: flex
}
/* responsive */


@media only screen and (max-width: 1200px) {
    .skills {
        flex-direction: column;
        align-items: center;
    }
    .front-end {
        width: 100%;
        pointer-events: none;
    }

    .back-end {
        width: 100%;
        pointer-events: none;
    }

}

@media only screen and (max-width: 900px) {
    .skills-title, .projects-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills-title h1, .skills-title p {
        padding-left: initial
    }
    .projects-container {
        flex-direction: column;
    }
    .projects-title h1, .projects-title p {
        margin-left: initial;
        text-align: center;
    }
    .projects-jungle-chatty {
        flex-direction: column;
        margin: 0 auto;
        width: 50%;
        margin-top: 100px;
    }
    .projects-container img {
        display: flex;
        margin: 0 auto;
        margin-bottom: 50px;
        width: 80%;
        height: 30%;
    }

    .on-time {
        margin: 0 auto;
    }

}

@media only screen and (max-width: 825px) {
    .coding-container, .intro-container {
        flex-direction: column;

    }
    .coding-container p {
        margin-top: 50px;
    }
    
}